.shots-enter {
  opacity: 0.01;
}

.shots-enter.shots-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.shots-leave {
  opacity: 1;
}

.shots-leave.shots-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.item-container{
  &:hover{
    img {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .item-info{
      background: rgba(0, 0, 0, 0.8)
    }
  }
}

.popular-shots, 
.shot-details {
  &.visible{
    .item-container{
      animation-name: animateShots;
      animation-duration: 1s;
      animation-delay: .5s;
      animation-fill-mode: forwards;  
    }
  }
}

@keyframes animateShots {
    from {
      opacity: 0;
      -ms-transform: translate(0, 20px); 
      -webkit-transform: translate(0, 20px); 
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      -ms-transform: translate(0, 0); 
      -webkit-transform: translate(0, 0); 
      transform: translate(0, 0);
    }
}